.background{

  background: url("/static/img/BackgroundProfile.jpg") no-repeat 0;
  background-size: 100vw;
  min-height: 400px;
  background-size: cover;
  text-align: center;
  image-resolution: from-image;

}
.box{
  padding: 20px;
}


.profile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 55%;
  border-radius: 50%;

}
li a{
    font-family: Calibri;
    font-weight: 300;
    font-size: 17px;
    color: white;
}

.my-nav{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

.my-nav a{
  text-decoration: none;
  font-size:16px;
}

.my-nav li{
  display: inline;
}


.resume{
  margin-top: 20px;
  color:white;
}

.nama{
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 0px;
  color: #ffffff;

}


.jurusan{
  margin-top: 0px;
  font-size:  30px;
  color: #ffffff;
  margin-bottom: 10px;

}

.ava{
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}

.experience{

  float: left;
  margin-top: 60px;
  color: white;
  font: bold;
  font-size: 2vw;
}


.education{
  color: white;
  float: right;
  margin-top: 60px;
  font: bold;
  font-size: 2vw;
}

.container img{
  width: 35%;
}

.backforms {
        margin-top: 100px;
        background: rgba(255, 255, 255, 0.2);

    }

.tengah{
  margin-top: 150px;

  color: white;
}

.kotak{
  margin: auto;
  background: #35424a;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

#schedule{
  color: white;
}
