<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Ladoku Website Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>

  </head>
  <body class ="background" >

    <nav class="navbar fix-top navbar-expand-md navbar-dark my-nav">
       <a class="navbar-brand" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <ul class= "navbar-nav ml-auto">
             <li class= "nav-item" >
               <a href="{% url 'index' %}" class = "nav-link">Home</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'resume' %}" class = "nav-link">Resume</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'about' %}" class = "nav-link active">About</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'galeri' %}" class = "nav-link">Galeri</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'schedule' %}" class = "nav-link">Schedule</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'contact' %}" class = "nav-link">Contact</a>
             </li>


           </ul>
       </div>
   </nav>

    <div class="container">
      <h3 class = "resume" title="Resume" style="font-size:3vw;">About</h3>
      <div class="experience">
      <h5 title="Experiences" style="font-size:2vw;"> About Me</h5>
      <br>
      <img src="{% static 'img/user.png' %}" class="team">
      <br>
      <p class="rinci">Hello, nama saya Lado Rayhan Najib. <br> Saya Sekarang adalah seorang pelajar di Universitas Indonesia <br> jurusan Ilmu Komputer. <br> Saya mengambil jurusan ini karena <br> saya ingin memajukan Indonesia di bidang teknologi</p>
      </div>
      <div class="education">
        <h5 title="Educations" style="font-size:2vw;"> Skills </h5>
        <br>
        <img src="{% static 'img/design-tools.png' %}" class="team">
        <br>
        <p class="rinci"> Saya saat ini telah menguasai beberapa bahasa pemrograman. <br> Di antaranya yaitu Python, Java, Html, CSS</p>
        </div>
      </div>







  </body>
</html>
