<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Ladoku Website Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  </head>
  <body class ="background" >

    <nav class="navbar fix-top navbar-expand-md navbar-dark my-nav">
       <a class="navbar-brand" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <ul class= "navbar-nav ml-auto">
             <li class= "nav-item" >
               <a href="{% url 'index' %}" class = "nav-link active">Home</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'resume' %}" class = "nav-link">Resume</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'about' %}" class = "nav-link">About</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'galeri' %}" class = "nav-link">Galeri</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'schedule' %}" class = "nav-link">Schedule</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'contact' %}" class = "nav-link">Contact</a>
             </li>


           </ul>
       </div>
   </nav>

    <div class="container">
      <img src="{% static 'img/profilenew.jpg' %}" alt="Responsive image" class="ava">

      <h1 title="Fullname" style="font-size:5vw;" class="nama">Lado Rayhan Najib</h1>
      <p title="Major | College | Class of 2018 "style="font-size:2vw;"class = "jurusan"> Computer Science | University of Indonesia | 2018</p>

    </div>

    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>


  </body>


</html>
