<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Ladoku Website Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  </head>
  <body class ="background" >

    <!-- Navigation -->

     <nav class="navbar fix-top navbar-expand-md navbar-dark my-nav">
        <a class="navbar-brand" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class= "navbar-nav ml-auto">
              <li class= "nav-item" >
                <a href="{% url 'homepage:index' %}" class = "nav-link active">Home</a>
              </li>
              <li class= "nav-item" >
                <a href="{% url 'homepage:resume' %}" class = "nav-link">Resume</a>
              </li>
              <li class= "nav-item" >
                <a href="{% url 'homepage:about' %}" class = "nav-link">About</a>
              </li>
              <li class= "nav-item" >
                <a href="{% url 'homepage:galeri' %}" class = "nav-link">Galeri</a>
              </li>
              <li class= "nav-item" >
                <a href="{% url 'homepage:regis' %}" class = "nav-link">Registration</a>
              </li>
              <li class= "nav-item" >
                <a href="{% url 'homepage:schedule' %}" class = "nav-link">Schedule</a>
              </li>
              <li class= "nav-item" >
                <a href="{% url 'homepage:contact' %}" class = "nav-link">Contact</a>
              </li>


            </ul>
        </div>
    </nav>


    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>


  </body>


</html>
