<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Ladoku Website Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>

  </head>
  <body class ="background" >

    <nav class="navbar fix-top navbar-expand-md navbar-dark my-nav">
       <a class="navbar-brand" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <ul class= "navbar-nav ml-auto">
             <li class= "nav-item" >
               <a href="{% url 'index' %}" class = "nav-link">Home</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'resume' %}" class = "nav-link active">Resume</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'about' %}" class = "nav-link">About</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'galeri' %}" class = "nav-link">Galeri</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'schedule' %}" class = "nav-link">Schedule</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'contact' %}" class = "nav-link">Contact</a>
             </li>


           </ul>
       </div>
   </nav>

    <div class="container">
      <h3 class = "resume" title="Resume" style="font-size:3vw;">Resume</h3>
      <div class="box">


      <div class="experience">
      <h5 title="Experiences" style="font-size:2vw;"> Experience</h5>
      <br>
      <img src="{% static 'img/team.png' %}" class="team">
      <br>
      <p class="rinci">Jabatan <br> Ketua Ukor Sepakbola Fasilkom UI 2018- <br> Kepanitiaan <br> Computer Get Science(Operasional) 2018-2019 <br> Compfest 11(Operasional) 2018-2019</p>
      </div>

      </div>
      <div class="box">


      <div class="education">
        <h5 title="Educations" style="font-size:2vw;"> Education</h5>
        <br>
        <img src="{% static 'img/college-graduation.png' %}" class="team">
        <br>
        <p class="rinci">Pendidikan <br> SDN Pesanggrahan 03 Pagi 2012 <br> SMPN 161 Jakarta 2015 <br> SMAN 70 Jakarta 2018<br> Computer Science | Universitas Indonesia 2018-</p>
        </div>

        </div>
      </div>








  </body>
</html>
