
<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Ladoku Website Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
<body class ="background">

  <nav class="navbar fix-top navbar-expand-md navbar-dark my-nav">
     <a class="navbar-brand" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <ul class= "navbar-nav ml-auto">
           <li class= "nav-item" >
             <a href="{% url 'index' %}" class = "nav-link">Home</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'resume' %}" class = "nav-link">Resume</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'about' %}" class = "nav-link">About</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'galeri' %}" class = "nav-link">Galeri</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'schedule' %}" class = "nav-link">Schedule</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'contact' %}" class = "nav-link">Contact</a>
           </li>


         </ul>
     </div>
 </nav>
<div class="container backforms">


  <form class="css" action="{% url 'schedule_create' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
              <div class="col-sm-1"></div>
              <div class="form-group col-sm-10">
                  {% for fields in form %}
                      {{ fields.label_tag }}
                      <br>
                      {{ fields }}
                  {% endfor %}
              </div>
          </div>
          <div class="form-row">
              <div class="col-sm-1"></div>
              <input type="submit" class="btn btn-primary float-right" value="Add">
          </form>

  </div>
  </div>

    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>
    </body>



    </html>
