
<!DOCTYPE html>
{% load static %}



<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Ladoku Website Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
<body class="background">

  <nav class="navbar fix-top navbar-expand-md navbar-dark my-nav">
     <a class="navbar-brand" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <ul class= "navbar-nav ml-auto">
           <li class= "nav-item" >
             <a href="{% url 'index' %}" class = "nav-link">Home</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'resume' %}" class = "nav-link">Resume</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'about' %}" class = "nav-link">About</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'galeri' %}" class = "nav-link">Galeri</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'schedule' %}" class = "nav-link active">Schedule</a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'contact' %}" class = "nav-link">Contact</a>
           </li>


         </ul>
     </div>
 </nav>

<div class="container backforms">


<h1 id='schedule'>SCHEDULE</h1>
    <div class="article">
        <a href="{% url 'schedule' %}"></a>
        <div class="article">
            <div class="row">
                {% for schedule in schedules %}
                    <div class="col-sm-4 text-center kotak">
                        <h2>{{ schedule.activity }}</h2>
                        <p>{{ schedule.date.date }}</p>
                        <p>{{ schedule.time}}</p>
                        <p>{{ schedule.place }}</p>
                        <p>{{ schedule.category }}</p>
                        <a href="{% url 'schedule_delete' id=schedule.id %}"><button type ="button" class="btn btn-danger btn-sm mt-3">Delete</button></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = 'col-md-12'>
        <div class = 'form-group'>
            <a href="{% url 'schedule_clear' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
            <a href="{% url 'schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
        </div>
    </div>

</div>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>
    </body>



    </html>
